

body{
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.8rem;
}



.container{
    max-width: 90rem;
    padding:0 2em;
    margin:0 auto ;

}

.header{
    background-image: url("images/bg-pattern-top-desktop.svg");
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}


h1{
    color:hsl(300, 43%, 22%);
    font-size: 2rem;
    line-height: 1;
    max-width: 12ch;
    margin-bottom: 1em;
} 

.lead{
    color:hsl(303, 10%, 53%);
   max-width: 23rem;
   font-weight: 500;
   font-size: 0.9rem;
} 


.ratings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rating{
    background-color:hsl(300, 24%, 96%) ;
    color:  hsl(300, 43%, 22%);
    margin-bottom: 1em; 
    padding:1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px
}


.rating p{
    font-weight: 700;
    margin: 0rem;
} 

.rating1{
    position: relative;
    right: 60px;
}

.rating2{
    position: relative;
    right: 20px;
}



.testimonial {
    background-image: url("images/bg-pattern-bottom-desktop.svg");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review img{
    border-radius: 50%;
    float: left;
    margin-right: 1em;
    
}

.review2{
    position: relative;
    top: 30px;
}

.review3{
    position: relative;
    top: 60px;
}

.name{
    color:white;
    margin-bottom: 0px;
    font-weight: 800;
}

.bio{
    color:rgb(238, 104, 164);
    margin-top: 0px;
   
    
}

.comment{
    color: white;
    margin-top: 3.5em;

}

.review{
    background-color:hsl(300, 43%, 22%);
    max-width: 14rem;
    margin:1em;
    padding:2em;
    border-radius: 10px;
    color: hsl(300, 24%, 96%);
    
} 
 


@media screen and (max-width:480px)
{
    body{
        
        text-align: center;
        
    }

    .header{
        align-content: center;
        flex-direction: column;
    }

    h1{
        margin-left: auto;
        margin-right: auto;
    }

    .heading{
        max-width: 100%;
    }

    .lead{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }


    .rating{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        position: static;
    }

    .rating1{
        align-self: center;
    }

    .rating3{
        align-self: center;
    }

    .testimonial{
        padding: 1rem 0rem;
        margin-bottom:6em;
    }
    .review{
        max-width: 100%;
        text-align:left; 
    }
  
}
